<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon color='purple' name="flash"></ion-icon>
      <ion-label>Board</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon color='purple' name="stats"></ion-icon>
      <ion-label>Statistiques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon color='purple' name="cog"></ion-icon>
      <ion-label>Réglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
