<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon size="large" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-item color="tertiary">
        <ion-label>Ajouter un prix</ion-label>
        <ion-checkbox
          color="secondary"
          slot="end"
          [(ngModel)]="isChecked"
        ></ion-checkbox>
      </ion-item>
    </ion-buttons>
    <ion-title>Créer un Profil Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
       <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nom Complet: </ion-label>
              <ion-input [(ngModel)]="runner.fullName" name="nameis"></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                1
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Fonction: </ion-label>
              <ion-input [(ngModel)]="runner.Fonction" name="func"></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                2
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">N° de téléphone: </ion-label>
              <ion-input
                [(ngModel)]="runner.phoneNumber"
                name="phone"
              ></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                3
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating"
                >Company:
              </ion-label>
              <ion-input [(ngModel)]="runner.Company" name="sct"></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                4
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Adresse: </ion-label>
              <ion-input
                [(ngModel)]="runner.Address"
                name="address"
              ></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                5
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Pays: </ion-label>
              <ion-input
                [(ngModel)]="runner.Country"
                name="country"
              ></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                6
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">N° téléphone Société: </ion-label>
              <ion-input
                [(ngModel)]="runner.phoneNumberSociety"
                name="phoneS"
              ></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                7
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Langue: </ion-label>
              <ion-select
                [(ngModel)]="runner.Langue"
                name="lang"
                okText="Valider"
                cancelText="Annuler"
                placeholder="Select One"
              >
                <ion-select-option value="HE">HE</ion-select-option>
                <ion-select-option value="FR">FR</ion-select-option>
                <ion-select-option value="US">US</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                8
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">#KeyWords: </ion-label>
              <ion-input
                [(ngModel)]="runner.Keywords"
                name="keywords"
              ></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                9
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Notes: </ion-label>
              <ion-textarea [(ngModel)]="runner.Notes" name="notes"></ion-textarea>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                10
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Status: </ion-label>
              <ion-select
                [(ngModel)]="runner.Status"
                name="type"
                okText="Valider"
                cancelText="Annuler"
                placeholder="Select One"
              >
                <ion-select-option value="En Cours">En cours</ion-select-option>
                <ion-select-option value="Signé">Signé</ion-select-option>
                <ion-select-option value="Perdu">Perdu</ion-select-option>
                <ion-select-option value="Résilié">Résilié</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4" *ngIf="isChecked">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>
              <h1
                style="text-align: center; font-weight: bold; font-size: 126px; align-self: center; color: rgb(111, 29, 29);"
              >
                11
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Devise: </ion-label>
                 <ion-select
                [(ngModel)]="runner.currency"
                name="curr"
                okText="Valider"
                cancelText="Annuler"
                placeholder="Select One"
              >
                <ion-select-option value="NIS">NIS ₪</ion-select-option>
                <ion-select-option value="USD">USD $</ion-select-option>
                <ion-select-option value="EUR">EUR €</ion-select-option>
              </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Prix: </ion-label>
                  <ion-input
                    [(ngModel)]="runner.pricing"
                    name="price"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-lg="4">
        <ion-card class="welcome-card">
          <ion-card-content>
            <div *ngIf="empty">
              <ion-row>
                <ion-col center text-center>
                  <ion-button
                    icon-only
                    color="secondary"
                    id="butn"
                    class="btn"
                    (click)="file.click()"
                    round
                  >
                    <ion-icon name="camera" id="camera"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div>
              <ion-row>
                <ion-col center text-center>
                  <img
                    [src]="runner.profilePicture"
                    class="btn"
                    *ngIf="!empty"
                  />
                </ion-col>
              </ion-row>
            </div>
            <div>
              <ion-row>
                <ion-col center text-center>
                  <input
                    type="file"
                    #file
                    id="my_file"
                    (change)="detectFiles($event)"
                  />
                </ion-col>
              </ion-row>
            </div>
            <h2 style="text-align: left;">
              Photo de Profil
            </h2>
          </ion-card-content>
          <ion-img src="/assets/shapes.svg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button
      color="purple"
      (click)="create(runner)"
      [disabled]="
        !runner.Status ||
        !runner.Company ||
        !runner.phoneNumber ||
        !runner.phoneNumberSociety ||
        !runner.Fonction
      "
    >
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
